# Windows image file caches
Thumbs.db
ehthumbs.db

#PyCharm Project Files
encodings.xml
misc.xml
modules.xml
vcs.xml
workspace.xml
ObjectOriented-Python-2014.iml
scope_settings.xml
#PyCharm Project Folders
.idea
scopes


# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
